<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MBXAccessToken</key>
	<string>sk.eyJ1IjoiYm1laWtsZTMiLCJhIjoiY2t6bGh2cTN4NTJnaDJycDR3Zjlob3pmbiJ9.jvnZBZifWQN4zuApx979Ug</string>
</dict>
</plist>
