<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>TitilliumWeb-Regular.ttf</string>
		<string>TitilliumWeb-Black.ttf</string>
		<string>TitilliumWeb-Bold.ttf</string>
		<string>TitilliumWeb-SemiBold.ttf</string>
		<string>PTMono-Regular.ttf</string>
		<string>PTMono-Bold.ttf</string>
		<string>Ramaraja-Regular.ttf</string>
	</array>
	<key>MBXAccessToken</key>
	<string>pk.eyJ1IjoiYm1laWtsZTMiLCJhIjoiY2t6NHlzMHBpMGxmazJvcDE1b3RudHN3ciJ9.PXL67h_JHuzUOy7f6Cqg2w</string>
</dict>
</plist>
